html,body{
	margin: 0;
	padding: 0;
	font-size: 14px;
}
body{
	margin: 0 auto;
}

.wrapper{
	/* min-width: 300px;
	max-width: 400px;
	width: 15%; */
	width:400px;
	margin-top: 50px;
 	/*background: #EEEDEF;*/
	position: relative;
	display: inline-block;
}

.content{
	position: absolute;
	width: 70.4%;
	height: 70%;
	left: 14%;
	top: 10.5%;
	background: #EEEDEF;
	z-index: 10;
	box-sizing:border-box;
	border:solid 4px #000;
	text-align: center;
	 overflow: hidden; 
}
.wrapper>img{
	width: 100%;
}
.topbar{
	height: 35px;
	line-height: 35px;
	background: #0f9d58;
	margin-bottom:5px;
	/* box-shadow: 0px 1px 0px #bbb inset,0px 1px 2px rgba(0,0,0,.6); */
	box-shadow:0px 1px 8px rgba(0,0,0,0.3);
	/*text-shadow:-1px -1px 0px #ccc;*/
	color:#fff;
}
.topbar1{
	height: 35px;
	line-height: 35px;
	background: #aaa;
	margin-bottom:5px;
	/*box-shadow: 0px 1px 0px #bbb inset,0px 1px 2px rgba(0,0,0,.6);*/
	/*text-shadow:-1px -1px 0px #ccc;*/
	color:#fff;
}
.ele{
	box-sizing:border-box;
	float: left;
	width: 80px;
	height: 80px;
	background: #fffeff;
	margin: 5px;
	padding: 3px;
	/* box-shadow: 0px 0px 1px #fff inset,0px 1px 2px rgba(0,0,0,.3); */
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.14);
	transition:all 0.2s ease-in 0.1s;
}
.ele1{
	box-sizing:border-box;
	float: left;
	width: 80px;
	height: 80px;
	background: #fffeff;
	margin: 5px;
	padding: 3px;
	border:solid 1px #ddd;
	/*box-shadow: 0px 0px 1px #fff inset,0px 1px 2px rgba(0,0,0,.3);*/
	transition:all 0.2s ease-in 0.1s;

}
.ele img{
	width: 100%;
}
.ele1 img{
	width: 100%;
}

.ele:hover{
	box-shadow: 0px 0px 1px #fff inset,0px 3px 6px rgba(0,0,0,.4)
}

.center{
	width: 400px;
	margin: 0 auto;
}

.move{
	position: absolute;
	left: -400px;
	top:0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.btn_shell{
	position: absolute;
	bottom: 60px;
	width: 100%;
	z-index: 100;
	height: auto;

}
.btn_shell a{
	display: inline-block;
	color: #fff;
	font-size: 16px;
	background: #0f9d58;
	text-decoration: none;
	padding: 5px 15px;
	margin: 5px;
	border-radius:5px;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
		}
.red{
	color: #db4437;
	font-weight: bolder;
}

.layer,.layer1{
			margin: 0 auto;
			margin-top: 50px;
			width: 150px;
			height: 150px;
			background: #0d9955;
			overflow: hidden;
			
			box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.14);
			position: relative;
			-webkit-transition:all 0.2s ease-in;
			-moz-transition:all 0.2s ease-in;
			-o-transition:all 0.2s ease-in;
			transition:all 0.2s ease-in;
		}

		.layer2{
			position: absolute;
			width: 44px;
			height: 44px;
			box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.14);
			bottom: 10px;
			left: 10px;
			cursor:pointer;
		}

		.nav{
			position: absolute;
			background: #0d9955;
			box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.14);
			left: 2px;
			bottom: 46px;
		}

		a.layer1{
			display: block;
			-webkit-transition:all 0.5s ease-in;
			-moz-transition:all 0.5s ease-in;
			-o-transition:all 0.5s ease-in;
			transition:all 0.5s ease-in;
		}

		a.layer1:active{
			box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.3);
		}

		.layer1{
			line-height: 182px;
		}

		.layer1 img{
			-webkit-transition:all 0.8s ease-in;
			-moz-transition:all 0.8s ease-in;
			-o-transition:all 0.8s ease-in;
			transition:all 0.8s ease-in;
		}

		.layer1:hover img{
			transform:rotate(360deg);

		}


	

		.circle{
			width: 50px;
			height: 50px;
			border-radius:50%;
			/* background: #db4437; */
			background: #fff;
			position: absolute;
			opacity: 0.5;
			-webkit-transition:all 0.6s ease-in;
			-moz-transition:all 0.6s ease-in;
			-o-transition:all 0.6s ease-in;
			transition:all 0.6s ease-in;

		}

		.circle:hover{
			-webkit-transform:scale(2.5,2.5);
			-moz-transform:scale(2.5,2.5);
			-o-transform:scale(2.5,2.5);
			transform:scale(2.5,2.5);
			opacity: 0;
		}
		.ui{
			color: #fff;
		}




		.font{
			margin: 20px;
			text-align: left;
			text-indent: 28px;
		}


